/* If media is under 850px wide*/
@media (max-width: 850px) {
    /* Remove unneccessary padding */
    #scheduleTableSpot, #scheduleTableContainer, #selectSeasonSpot
    {
        padding: 0;
    }
    .input-group .mt-3 {
        width: 100%;
    }
}
