body {
    font-family: 'Alatsi', sans-serif;
}

/* Centers a div horizontally and vertically */

.centerDiv {
    margin: 0 auto;
}

/* If media is under 1000px wide*/

@media (max-width: 1000px) {
    #topBasketballImage {
        display: none;
    }
    #topBasketballImageColumn {
        display: none;
    }
}

/* Don't allow images to be dragged */

img {
    -webkit-user-drag: none;
}

.pt-3-half {
    padding-top: 1.4rem;
}


.result {
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Formatting result items */
.result p {
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}

.result p:hover {
    background: #f2f2f2;
}

.centerText {
    text-align: center;
}

.link-no-style {
    color: white;
    text-decoration: none;
}

.link-no-style:hover {
    color: white; 
    text-decoration: none;
}

.custom-link{
    display: inline-flex;
    color: black;
    text-decoration: none;
}

/* Link styling */
.ai-element{
    display: inline-flex;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-decoration: none !important;
}

/* Link styling */
.ai-element_type2{
    --uiaiElementLineWeight: var(--aiElementLineWeight, 2px);
    --uiaiElementLineColor: var(--aiElementLineColor, #007bff);	
    --aiElementPaddingBottom: var(--uiaiElementLineWeight);	
    
    position: relative;
}
  
/* Link styling */
.ai-element_type2::after{
    content: "";
    width: 100%;
    height: var(--uiaiElementLineWeight);
    background-color: var(--uiaiElementLineColor);

    position: absolute;
    left: 0;
    bottom: 0;
}

/* Link styling */
.ai-element3::after{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform .3s ease-out, opacity .3s ease-out;
}
  
/* Link styling */
.ai-element3:hover::after{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}

.top-index-carousel {
    max-width: 90%;
    margin: auto; /* Centers it */
}



/*******************  BOOTSTRAP OVERRIDES  ******************************/

/* Bootstrap primary background color override */
.bg-primary {
    background-color: #FA8320 !important;
}

.btn-outline-danger {
    border-color: #FFF !important;
    color: white;
}

.btn-outline-danger:hover {
    background-color: #FFF !important;
    color: black;
}

/*************************************************************************/