.half-width {
    width: 50%;
}

.right-border {
    border-right: 1px solid #E0E0E0;
}

.table-layout-spacing {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

.height-sm {
    height: 14px;
}

.lc-np {
    width: 52px;
    padding: 0 14px;
    box-sizing: border-box;
}

.width-six {
    width: 6px;
}

.date-formatting {
    width: 1px;
    padding: 0;
}

.white-smoke-color {
    background-color: #f5f5f5;
}

.width-med {
    width: 104px;
}

.no-padding {
    padding: 0;
}

.alpha-padding {
    height: 6px;
    padding-left: 14px;
    color: rgba(0, 0, 0, .54);
}

.date-background-padding {
    font-size: 12px;
    color: rgba(0, 0, 0, .87);
    text-align: center;
    padding: 0;
    position: relative;
}

.imspo_mt__ndl-p {
    padding: 0px 16px;
}

.imspo_mt__ms-w {
    line-height: 1.4;
}

.imspo_mt__pm-inf {
    font-size: 12px;
    color: rgba(0, 0, 0, .87);
}

.imspo_mt__tr {
    height: 32px;
}

.imspo_mt__lgc {
    height: 24px;
}

.tns-c {
    padding: 0px;
}

.imspo_mt__tt-w {
    font-size: 14px;
    line-height: 20px;
}

.imspo_mt__dt-t {
    color: rgba(0, 0, 0, .87);
}

.ellipsisize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imspo_mt__br-s {
    height: 24px;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    color: black;
}

a:hover {
    text-decoration: none !important;
    color: orange;
}